
/* Header */
.header {
    background-image: url('../../images/Bg.png');
    background-repeat: repeat-x;
}

/* Numbers */
.hf-number {
    font-family: "SF Mono", monospace;  
    font-feature-settings: "tnum";
}

.hf-number.xl {
    font-size: 24px;
}

.hf-number.md {
    font-size: 16px;
}

.hf-number.sm {
    font-size: 12px;
    font-weight: 300;
}

a {
    text-decoration: none !important;
}